@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
@import "utils/animations";
@import "utils/breadcrumbs";
@import "utils/fluid-font";
@import "utils/item";
@import "utils/filter";
@import "utils/datepicker";
//@include sprites($spritesheet-sprites);


:root {
    --vh: 1vh;
}

html {
  font-family: $primary-font, Arial, serif;
  font-size: 16px;
  height: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: $white;
  overflow-x: hidden;
}

.body {
    &.dimmed {
        position: relative;

        &::after {
            position: absolute;
            content: '';

            width: 100vw;
            height: 100vh;

            background-color: rgba(0, 0, 0, 0.7);

            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body {
    width: 100%;

    &.no-scroll {
        overflow: hidden;
    }
}

.hidden {
    display: none;
}

.main {
    position: relative;

    &--meals {
        .reviews {
            margin-bottom: 7.625rem;
        }

        @include min-screen(1680px) {
            .select {
                margin-bottom: 12.25rem;
            }

            .delivery {
                margin-bottom: 12.5rem;
            }

            .reviews {
                margin-bottom: 12.5rem;
            }

            .faq {
                margin-bottom: 13.25rem;
            }
        }
    }

    &--ready {
        .consult {
            margin-bottom: 4.875rem;
        }

        .individual {
            margin-bottom: 6.125rem;
        }

        @include min-screen(1680px) {
            .reasons {
                margin-bottom: 12.125rem;
            }
        }
    }
}

//Модули
@import "modules/modules";
