.reasons {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding-top: 3.75rem;
    margin-bottom: 3.75rem;

    &__wrapper {
        width: 100%;
        @include flex-setting(row, flex-start, center);
    }

    &__list {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        padding-left: 1.25rem;
        padding-right: 1.25rem;

        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;

        &::-webkit-scrollbar { width: 0; }
    }

    &__item {
        flex: none;
        scroll-snap-align: center;

        margin-bottom: 0;

        margin-right: 1.25rem;
        margin-bottom: 0;
    }

    &__body {
        width: 100%;
        max-width: 335px;
        @include flex-setting(column, flex-start, center);
    }

    &__info {
        width: 100%;

        @include flex-setting(column, flex-start, center);
        order: 2;
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.25rem;
    }

    &__description {
        @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $lightgray);
        text-align: left;
        margin-bottom: 1.25rem;
    }

    &__frame {
        order: 1;
        margin-bottom: 1.25rem;
    }
}

@include min-screen(768px) {
    .reasons {
        padding-top: 0;
        margin-bottom: 5rem;

        &__list {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
        }

        &__item {
            margin-right: 2.5rem;
        }

        &__body {
            max-width: 360px;
        }

        &__info {
            align-items: flex-start;
        }

        &__title {
            text-align: left;
            margin-bottom: 2rem;
        }

        &__frame {
            margin-bottom: 2rem;
        }
    }
}
