.select {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    margin-bottom: 3.75rem;

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 0 1.25rem;
    }

    &__title {
        @include font-setting($primary-font, 1.5rem, 1.875rem, 800, $black);
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 3.125rem;
    }

    &__body {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding: 6.875rem 1.875rem 1.875rem 1.875rem;
        margin-bottom: 1.875rem;

        border: 1px solid $lightgray;

        position: relative;
    }

    &__checkout {
        width: 100%;

        @include flex-setting(column, flex-start, center);


        &-link {
            display: none;
        }
    }

    &__days {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding-bottom: 1.5625rem;
        margin-bottom: 1.5625rem;

        border-bottom: 1px dashed $lightgray;

        &-title {
            @include font-setting($secondary-font, 1.5rem, 1.875rem, 800, $black);
            margin-bottom: 1.25rem;
        }

        &-list {
            width: 100%;
            @include flex-setting(row, flex-start, center);
        }

        &-item:not(:first-child) {
            width: 40px;
            height: 40px;
            margin-right: 0.625rem;

            &:last-child {
                margin-right: 0;
            }
        }

        &-item:first-child {
            width: auto;
            height: 40px;
            margin-right: 0.625rem;

            .select__days-btn {
                padding: 0 1.1875rem;
            }
        }

        &-btn {
            @include flex-setting(column, center, center)
            @include font-setting($primary-font, 0.875rem, 1, 800, $black);

            width: 100%;
            height: 100%;
            border: 1px solid $lightgray;
            border-radius: 20px;
            background-color: $white;
            transition: 0.4s $cubic;

            cursor: pointer;

            &:hover,
            &:active {
                border-color: $lightgreen;
                transition: 0.4s $cubic;
            }

            &.active {
                background-color: $lightgreen;
                border-color: $lightgreen;
                color: $white;
                transition: 0.4s $cubic;
            }
        }
    }

    &__pricing {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 1.25rem;

        &-title {
            @include font-setting($secondary-font, 1.5rem, 1.875rem, 800, $black);
            margin-bottom: 0.625rem;
        }

        &-list {
            width: 100%;
            @include flex-setting(column, flex-start, center);
        }

        &-item {
            width: 100%;
            @include flex-setting(row, center, center);

            margin-bottom: 0.625rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &-total {
            @include font-setting($secondary-font, 2.25rem, 2.5rem, 900, $black);
        }

        &-cashback {
            @include font-setting($secondary-font, 1.125rem, 1.25rem, 800, $lightgreen);

            span {
                font-weight: 400;
                color: gray;
                margin-left: 0.625rem;
            }
        }
    }

    &__delivery {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        margin-bottom: 1.875rem;

        &-title {
            @include font-setting($secondary-font, 1.125rem, 1.25rem, 800, $darkgray);
        }

        &-about {
            @include font-setting($secondary-font, 0.875rem, 1.25rem, 400, $darkgray);
        }
    }

    &__order {
        @include font-setting($primary-font, 1.125rem, 1.875rem, 800, $white);
        @include flex-setting(column, center, center);

        text-align: center;
        text-transform: uppercase;

        background: linear-gradient(93.13deg, #92C64E 0%, #4BAF50 100%);
        border-radius: 40px;
        border: none;

        padding: 0.9375rem 0;
        width: 300px;
    }
}

@include min-screen(768px) {
    .select {
        margin-bottom: 5rem;

        &__wrapper {
            align-items: center;
            padding: 0 2.5rem;

            position: relative;
            max-width: 768px;
        }

        &__title {
            align-self: flex-start;
            font-size: 1.875rem;
            line-height: 2.1875rem;
        }

        &__body {
            border: none;
            display: grid;
            grid-template-columns: 345px 280px;
            grid-column-gap: 1.25rem;
            padding: 0;
            margin-bottom: 0;
            justify-content: space-between;
            align-items: start;
        }

        &__checkout {
            position: absolute;
            bottom: 0;
            left: 2.5rem;
            width: 100%;
            max-width: 345px;
            align-items: flex-start;
        }

        &__days {
            align-items: flex-start;

            &-title {
                font-size: 1.75rem;
                line-height: 1.875rem;
            }

            &-item:not(:first-child) {
                margin-right: 0.59375rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            &-item:first-child {
                margin-right: 0.59375rem;

                .select__days-btn {
                    padding: 0;
                    width: 147px;
                }
            }

            &-btn {
                font-size: 1rem;
            }
        }

        &__pricing {
            align-items: flex-start;
            margin-bottom: 2.5rem;

            &-title {
                font-size: 1.75rem;
                line-height: 1.875rem;
                margin-bottom: 1.25rem;
            }

            &-list {
                display: grid;
                grid-template-columns: 1fr 150px;
                grid-column-gap: 1.375rem;
            }

            &-item {
                width: 100%;
                margin-bottom: 0;
                justify-content: flex-start;
            }

            &-total {
                font-size: 3rem;
                line-height: 3.125rem;
            }

            &-cashback {
                font-size: 1.5rem;
                line-height: 1.5rem;

                span {
                    font-size: 1.125rem;
                    line-height: 1.125rem;
                    white-space: nowrap;
                    margin-left: 0;
                }
            }
        }

        &__delivery {
            align-items: flex-start;
            margin-bottom: 2.5rem;
            padding-left: 2.5rem;
            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: 20px;
                height: 20px;
                background-color: $gold;
                border-radius: 10px;

                top: 0.1875rem;
                left: 0;
            }

            &-title {
                font-size: 1.5rem;
                line-height: 1.875rem;
            }

            &-about {
                font-size: 1.125rem;
                line-height: 1.25rem;
            }
        }

        &__order {
            width: 345px;
        }
    }
}
