include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'pricelist-bg', 'Оплата и доставка')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.checkout
                .checkout__content.tabs-container
                    ul.checkout__filter
                        li.checkout__filter-item.tab-title.active
                            button(type="button").checkout__filter-btn Доставка
                        li.checkout__filter-item.tab-title
                            button(type="button").checkout__filter-btn Оплата
                    
                    .checkout__body
                        .checkout__body-item.tab-content.active
                            include ../modules/blocks/delivery
                        .checkout__body-item.tab-content
                            .payment
                                .payment__wrapper
                                    h2.payment__title Способы оплаты
                                    p.payment__description Экспресс доставка осуществляется на следующий день после заказа при условии подтверждения заказа до 15.00 у оператора. Для подтверждения заказа пожалуйста  позвоните оператору. Тел. 8(495)7874244 или 8(925)6004347 - сообщите номер заказа и подтвердите заказ.
            section.faq
                .faq__wrapper
                    h2.faq__title Часто задаваемые вопросы
                    .faq__body
                        ul.faq__body-list.tab-content.active
                            +faqItem('active', 'Когда доставка первого дня?', 'Экспресс доставка осуществляется на следующий день после заказа при условии подтверждения заказа до 15.00 у оператора. Для подтверждения заказа пожалуйста  позвоните оператору. Тел. 8(495)7874244 или 8(925)6004347 - сообщите номер заказа и подтвердите заказ.')
                            +faqItem('', 'Куда мне могут привезти заказ?', 'Мы привозим заказы в удобное для клиента место (на работу, домой, в фитнес зал и др.). При оформлении заказа Вы указываете удобный для Вас интервал и место первой доставки. Так же вы можете изменить время и адрес доставки, для этого Вам необходимо связаться с нашим оператором.')
                            +faqItem('', 'Платная доставка?', 'В пределах МКАД доставка бесплатная, за пределы МКАД стоимость доставки согласно тарифам.')
                            +faqItem('', 'Кто и как мне привезет заказ?', 'Доставка еды осуществляется курьером на брендированном автомобиле, все заказы развозятся в сумке холодильнике.')
                        // Если не помогло, то контакты
                        .faq__contacts
                            h3.faq__subtitle Остались вопросы?
                            p.faq__description Вы можете задать их нашему специалисту, воспользовавшись любым удобным для Вас способом

                            ul.faq__contacts-list
                                li.faq__contacts-item
                                    a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--wa
                                li.faq__contacts-item
                                    a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--tg
                                li.faq__contacts-item
                                    a(href="tel:+78007874244" target="_self").faq__contacts-link 8 800 787 42 44
                            button(type="button" data-modal="#js-popup-callback").faq__callback.js-popup-opener Перезвоните мне
        include ../modules/footer/footer

        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        script(src="static/js/mask.js")
        script(src="static/js/tabs.js")
        script(src="static/js/tabs-delivery.js")
        block script
