include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
    head
        meta(charset="utf-8")
        title #{title}
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible', content="IE = edge")
        <![endif]-->
        meta(name="viewport" content="width=device-width,initial-scale=1")
        meta(name="keywords" content="")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Nunito+Sans:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
        link(rel="stylesheet" type='text/css' href="static/css/styles.css")
    body.body
        include ../modules/header/header
        main.main
            +introShort('short', 'pricelist-bg', 'Оплата и доставка')
            .breadcrumbs
                ul.breadcrumbs__list
                    for i in breadCrumbs
                        li.breadcrumbs__item
                            a(href="" +i.link target="_self").breadcrumbs__link=i.name
            section.checkout
                .checkout__content.taba-container
                    ul.checkout__filter
                        li.checkout__filter-item.tab-title.active
                            button(type="button").checkout__filter-btn Доставка
                        li.checkout__filter-item.tab-title
                            button(type="button").checkout__filter-btn Оплата
                    
                    .checkout__body
                        .checkout__body-item.tab-content.active
                            include ../modules/blocks/delivery
            section.faq
                .faq__wrapper
                    h2.faq__title Часто задаваемые вопросы
                    .faq__body
                        ul.faq__body-list.tab-content.active
                            +faqItem('active', 'Нужно ли мне считать КБЖУ и соблюдать диету с General-food?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата. От Вас требуется полностью соблюдать диету рациона, по возможности сократить потребления сахара и немного заниматься спортом. Результат не заставит себя ждать!')
                            +faqItem('', 'Нужны ли разгрузочные дни и cheat meal?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата.')
                            +faqItem('', 'Как быстро можно похудеть на рационах General-food?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата222.')
                            +faqItem('', 'Как рассчитать количество калорий необходимых для похудения?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата333.')
                            +faqItem('', 'Используете ли вы сахар или сахарозаменитель. Если да, то какой?', 'Если вы питаетесь готовыми рационами серии FIT, необходимость подсчета КБЖУ полностью отсутствует. Разработкой рационов питания General-food занимаются ведущие диетологи Москвы, мы полностью учли нужное количество потребления КБЖУ, витаминов и микроэлементов для быстрого и надежного достижения результата444.')
                        // Если не помогло, то контакты
                        .faq__contacts
                            h3.faq__subtitle Остались вопросы?
                            p.faq__description Вы можете задать их нашему специалисту, воспользовавшись любым удобным для Вас способом

                            ul.faq__contacts-list
                                li.faq__contacts-item
                                    a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--wa
                                li.faq__contacts-item
                                    a(href="#" target="_blank").faq__contacts-link.faq__contacts-link--tg
                                li.faq__contacts-item
                                    a(href="tel:+78007874244" target="_self").faq__contacts-link 8 800 787 42 44
                            button(type="button" data-modal="#js-popup-callback").faq__callback.js-popup-opener Перезвоните мне
        include ../modules/footer/footer

        include ../modules/popup/popup-ask
        include ../modules/popup/popup-callback
        include ../modules/popup/form-reaction
        script(src="static/js/vendor/jquery-3.3.1.min.js")
        script(src="static/js/main.js")
        script(src="static/js/mask.js")
        script(src="static/js/tabs.js")
        block script
