extends layout/blog

block variables
	-var title = 'General Food | Блог'
	-var breadCrumbs = [{name: 'Главная', link: 'index.html'}, {name: 'Блог', link: 'blog.html'}, {name: 'Особенности питания при похудении', link: ''}]
